In [1]:
from stats import *

In [2]:
avg_df =  create_statistics(n = 2, m = 20, k = 10, func = inverse_benchmark, name = 'inversion')

TypeError: create_statistics() missing 1 required positional argument: 'mul'

In [3]:
avg_df

,size,method,time,memory,add,sub,mul,div,flops
0,2,inversion,0.000391,0.002157,1.0,1.0,7.0,2.0,29937.487775
1,12,inversion,0.042408,0.028069,1594.0,74.0,1998.0,12.0,88246.492002